.page {
  /*background-color: white;*/
  background-image: url("background_clear.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height:100%;
}


recipes{
  font-family: 'Open Sans', sans-serif;
}


.results{
  text-align: center;
  margin:auto;
  width:50%;
}

.logo2{
  margin-top: 3rem;
  text-align: center;
}

#name{
  text-align: center;
}

a:link{
  color: #f03f35;
}

a:visited{
  color: #f03f35;
}

a:hover{
  color: #f03f35;
}

a:active{
  color: #f03f35;
}

.center{
  text-align: center;
}

.new-search{
  text-align: center;
  padding: 3rem;
}

 .btn.btn-default{
  text-align: center;
  margin:0 auto;
  display:table;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #b7e3e4;
  font-weight: 900;
  font-size: large;
  color: #f03f35;
 }
